.title {
    font-family: "Sans Serif";
    text-decoration: underline black 2px;
    color: black;
}

.sub-title {
    font-family: "Sans Serif";
    font-size: 3.5rem;
    text-decoration: underline black 2px;
    color: black;
}

.GreatHall-title {
    font-family: "Sans Serif";
    text-decoration: underline black 2px;
    color: black;
}

.GreatHall-content {
    font-family: "Sans Serif";
    font-weight: bold;
    font-size: 2rem;
    color: black;
}